:root {
  --basic-red: hsl(356, 84%, 57%);
  --basic-darkblue: #293449;
  --basic-background: #F3F7F9;
  --basic-yellow: #FFD180;
  --white: #FFFFFF;
  --special-darkblue: #32425C;
  --special-background: #F1F5F7;
}

/* Глобальные стили */

body {
  min-width: 1200px;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Общие стили */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page-body li {
  list-style-type: none;
}

/* Стили заголовка */

.main-header {
  background-color: var(--basic-background);
}

.head-wrapper {
  display: flex;
  flex-direction: column;
  height: 320px;
}

.order-menu-wrapper {
  height: 41.5px;
  background-color: var(--basic-darkblue);
  border: 0.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.order-menu-wrapper {
  background-color: var(--basic-darkblue);
}

.order-menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: inherit;
}

.logo-img-header {
  margin: 0;
  margin-left: 132px;
  margin-right: 42px;
  padding-top: 23.5px;
  padding-left: 56px;
  padding-bottom: 12px;
  padding-right: 56px;
  border-bottom: 5px solid hsl(356, 63%, 44%);
  background-color: var(--basic-red);
}

.order-menu-search {
  margin: 0;
  margin-right: 226px;
}

.order-menu-bookmarks {
  margin: 0;
  margin-right: 73px;
}

.order-menu-basket {
  margin: 0;
  margin-right: 26px;
}

.order-menu .order-menu-checkout {
  padding-top: 9px;
  padding-left: 16px;
  padding-bottom: 9px;
  padding-right: 19px;
  background-color: #63A63E;
}

.order-menu a,
.site-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.shop-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 1200px;
}

.shop-info h1 {
  grid-row-start: 1;
  grid-row-end: 4;
  margin-top: 42.5px;
  margin-right: 86px;
  margin-bottom: 44.5px;
  margin-left: 160px;
  width: 204px;
  height: 71px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.shop-info-tel {
  margin: 0;
  margin-top: 46px;
  margin-right: 65px;
  margin-bottom: 3px;
  padding-top: 7px;
  padding-right: 45px;
  padding-bottom: 8px;
  padding-left: 74px;
  width: 151px;
  height: 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shop-info-address {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0;
  width: 288px;
  font-size: 14px;
  line-height: 24px;
  color: var(--special-darkblue);
  text-align: center;
}

.shop-info ul {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  font-size: 21px;
  line-height: 21px;
}


.shop-info-enter a {
  margin: 0;
  margin-right: 10px;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 45px;
  background-color: var(--white);
}

.shop-info-registration a {
  margin: 0;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background-color: var(--white);
}

.main-navigation {
  margin: 0 auto;
  width: 940px;
  height: 60px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: var(--special-darkblue);
  box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation li {
  padding-top: 16px;
  padding-bottom: 20px;
}

.site-navigation a {
  padding-right: 34px;
  padding-left: 27px;
}

/* Стили заголовка: Поведение */

.order-menu-checkout:hover {
  background-color: hsl(99, 61%, 45%);
}

.site-navigation li:hover {
  background-color: hsl(221, 26%, 23%);
}

.shop-info-authorisation a:hover {
  color: var(--basic-red);
}

.logo-img-header:link,
.logo-img-header:visited,
.logo-img-header:hover {
  background-color: var(--basic-red);
  border-bottom-color: hsl(356, 63%, 44%);
}

.logo-img-header:active {
  background-color: hsl(356, 65%, 44%);
  border-bottom-color: hsl(356, 65%, 34%);
}




/* Стили основного контента главной страницы */

.index-main section:not(:nth-child(4)),
.index-main .company-features-container {
  margin: 0 auto;
  width: 940px;
}

.index-main h2,
section:not(.all-products) h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.all-products {
  color: var(--white);
}

.all-products-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-item {
  width: 300px;
  height: 123px;
}

.product-item h3 {
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 23px;
}

.product-item p {
  margin: 0;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 23px;
}

.product-item a {
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 23px;
}

.all-products-items li a {
  background-color: var(--white);
  opacity: 0.3;
}

.all-products-items .materials {
  background-color: #FFBF47;
}

.all-products-items .tools {
  background-color: #3BBCE3;
}

.all-products-items .equipment {
  background-color: #DC91D8;
}

.all-products-items .discount {
  background-color: #8ED78F;
  grid-column-start: 3;
  grid-column-end: 4;
}

.all-products-items .delivery {
  background-color: #FFC047;
  grid-column-start: 3;
  grid-column-end: 4;
}

.all-products-items .product-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}


.all-products .to-catalog {
  background-color: var(--basic-red);
  color: var(--white);
}

.popular-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F5F0;
}

.popular-group a {
  background-color: var(--basic-red);
}

.popular-products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.popular-companies-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.popular-companies-list li img {
  padding-top: 20px;
}

.popular-products-list li,
.popular-companies-list li {
  text-align: center;
  border: 1px solid var(--item-border);
}

.popular-item,
.catalog-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

p.item-name {
  font-size: 18px;
  line-height: 20px;
}

.popular-products-list span,
.catalog-hammerdrill-list span {
  text-transform: uppercase;
}

p.item-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: var(--item-price);
}

p.item-discount {
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--basic-red);
}

.services {
  background-color: var(--special-background);
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 940px;

}

.services-head-container {
  grid-column-start: 1;
  grid-column-end: -1;
}

.company-features-container {
  display: flex;
}

.services-container p,
.company-features p,
.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-list li {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.company--delivery li {
  font-size: 18px;
  line-height: 24px;
}

.company-details,
.default-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

/* Стили основного контента страницы каталога*/

.catalog-hammerdrill-main {
  margin: 0 auto;
  width: 941px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.breadcrumbs-catalog-hammerdrill {
  grid-column-start: 1;
  grid-column-end: -1;
}

.hammerdrill-head {
  grid-column-start: 1;
  grid-column-end: -1;
}

.catalog-hammerdrill-filter {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.catalog-hammerdrill,
.catalog-hammerdrill-sort {
  grid-column-start: 2;
  grid-column-end: -1;
}

.catalog-hammerdrill-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.catalog-hammerdrill-info {
  grid-column-start: 1;
  grid-column-end: -1;
}

/* Стили футера */

.main-footer {
  height: 480px;
  background-color: var(--special-darkblue);
}

.main-footer-wrapper {
  display: flex;
  margin: 0 auto;
  width: 1200px;

}

.footer-contacts,
.footer-navigation {
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts img {
  background-color: var(--basic-red);
}

.footer-contacts p {
  color: var(--basic-background);
}

.footer-navigation a {
  color: var(--special-background);
}

.extra-site-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.extra-site-navigation li {
  padding: 30px;
}

.extra-site-navigation li:nth-child(n+6) a {
  color: var(--basic-yellow);
}

.footer-feedback-wrapper {
  background-color: var(--basic-darkblue);
}

.footer-feedback {
  margin: 0 auto;
  width: 1200px;
}

.footer-feedback p {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.feedback-contact a,
.developer-contact a {
  color: var(--basic-yellow)
}

/* Скрытые элементы */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
